# Notes:
* CONFIRM: 
    * format/existence of null samples when unmatched with fish details or length frequencies
    * required distict sample entry to link to for
        * fish details
        * length frequencies
    * no need for null fish details or length frequencies when unmatched with sample data
* WISHLIST
    * in dm_apps, it would be cool to be able to merge samples, or link with details/lengths (to deal with ambiguous data / partial matches)
    * in dm_apps, can we search for lengths/details, or do we need to find the correct sample?

In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

sns.set_theme()

# jupyter notebook full-width display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# pandas formatting
pd.set_option('display.float_format', '{:.3f}'.format)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [73]:
# df_FD = pd.read_pickle('cleaned_MASTER_dataset.pickle')  # fish details
# df_LF = pd.read_pickle('cleaned_LENGTHFREQ_dataset.pickle')  # length frequencies
# df_SD = pd.read_pickle('cleaned_LOGBOOK_dataset.pickle')  # logbook / sample data

# ======================
# DATA CLEANING
# ======================

# FISH DETAILS

In [74]:
dtypes = {
    'YEAR': 'Int32', 
    'MM': 'Int32', 
    'DD': 'Int32', 
    'WEEK': 'Int32', 
    'SITE': 'object', 
    'PERIOD': 'object', 
    'CONDITION': 'object', 
    'FISH_NO': 'Int32', 
    'FL_WET': 'Int32', 
    'FL_FROZEN': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'FL_STD': 'float64',
    'WEIGHT': 'float64',
    'SPECIES': 'object', 
    'SEX': 'object', 
    'MATURITY': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'GONAD_WEIGHT': 'object',  # error: Unable to parse string " ", covert to numeric manually
    '1st Person Aging': 'object',  # error: could not convert string to float: ''
    'AGE': 'object',  # error: Unable to parse string "No Slide", covert to numeric manually
    'FSP': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'Comments': 'object', 
    '2nd Person Aging': 'object', 
    'AGE.1': 'object',  # error: Unable to parse string ".", covert to numeric manually
    'FSP.1': 'object',  # error: Unable to parse string ".", covert to numeric manually
    'Comments.1': 'object', 
    'Envelop Comments': 'object'
} 

# initial data import
df_FD = pd.read_csv('csv_MASTER_Gaspereau_details_Larry.csv', dtype=dtypes)

# create backup of notes (including all numeric data for simplicity)
df_FD['AGE_notes'] = df_FD['AGE']
df_FD['FSP_notes'] = df_FD['FSP']

# convert to numeric and coerce errors (all non-numeric data converted to null)
df_FD['FL_FROZEN'] = pd.to_numeric(df_FD['FL_FROZEN'], errors='coerce').astype('Int32')
df_FD['MATURITY'] = pd.to_numeric(df_FD['MATURITY'], errors='coerce').astype('Int32')
df_FD['GONAD_WEIGHT'] = pd.to_numeric(df_FD['GONAD_WEIGHT'], errors='coerce')  # float
df_FD['AGE'] = pd.to_numeric(df_FD['AGE'], errors='coerce').astype('Int32')
df_FD['FSP'] = pd.to_numeric(df_FD['FSP'], errors='coerce').astype('Int32')
df_FD['AGE.1'] = pd.to_numeric(df_FD['AGE.1'], errors='coerce').astype('Int32')
df_FD['FSP.1'] = pd.to_numeric(df_FD['FSP.1'], errors='coerce').astype('Int32')

# add a DATETIME column
df_FD['DATETIME'] = pd.to_datetime(df_FD['YEAR'].astype(str) + '-' + df_FD['MM'].astype(str) + '-' + df_FD['DD'].astype(str))

### Cleaning categorical data

In [75]:
df_FD.loc[df_FD.PERIOD == 'PM ', 'PERIOD'] = 'PM'
df_FD.loc[df_FD.CONDITION == 'FROZEN', 'CONDITION'] = 'Frozen'
df_FD.loc[df_FD.CONDITION == 'FRESH', 'CONDITION'] = 'Fresh'

### PERIOD: convert 'AD' to 'AM' - CONFIRM
* (118 entries)
* Other CSV also include AD periods for entered data

In [76]:
confirm_AD_to_AM = False

if confirm_AD_to_AM:
    df_FD.loc[df_FD.PERIOD == 'AD', 'PERIOD'] = 'AM'

### FL_STD: null or scale - CONFIRM
* (264 entries)

In [77]:
confirm_FL_STD_null = True
confirm_FL_STD_scale = False

# record indices of problems before transforming
index_FL_STD_problems = list(df_FD.loc[df_FD.FL_STD < 100, 'FL_STD'].index)

if confirm_FL_STD_null:
    df_FD.loc[df_FD.FL_STD < 100, 'FL_STD'] = np.nan
if confirm_FL_STD_scale:
    df_FD.loc[df_FD.FL_STD < 100, 'FL_STD'] = df_FD.loc[df_FD.FL_STD < 100, 'FL_STD'] * 10

### FL_WET and FL_FROZEN: null or scale - CONFIRM
* (5 entries)

In [78]:
confirm_FL_WF_null = True
confirm_FL_WF_scale = False

# NOTE: indices from Excel are 1 indexed, not 0 indexed, and row 1 is the header
# therefore, the indices are off by 2
idx_dict = {
    35058-2: 100,
    35143-2: 10,
    35157-2: 100,
    35158-2: 100,
    35186-2: 100
}

# split these into variables to improve readability
indices = idx_dict.keys()
scale_factors = [idx_dict[k] for k in idx_dict.keys()]

if confirm_FL_WF_null:
    df_FD.loc[indices, 'FL_WET'] = np.nan
    df_FD.loc[indices, 'FL_FROZEN'] = np.nan
if confirm_FL_WF_scale:
    df_FD.loc[indices, 'FL_WET'] = df_FD.loc[indices, 'FL_WET'] * scale_factors
    df_FD.loc[indices, 'FL_FROZEN'] = df_FD.loc[indices, 'FL_FROZEN'] * scale_factors

### SEX: leave or null 'U' - CONFIRM
NOTE: there are 749 'U' in 1987 (way more than all other years combined (797))

In [79]:
confirm_SEX_U_null = False

if confirm_SEX_U_null:
     df_FD.loc[df_FD.SEX == 'U', 'SEX'] = np.nan

### SEX: leave or null 'B' - CONFIRM
* (only 1 entry)
* confirm B is not 'both' (if so, could change label to 'H' for hermaphrodite)

In [80]:
confirm_SEX_B_null = False

if confirm_SEX_B_null:
    df_FD.loc[df_FD.SEX == 'B', 'SEX'] = np.nan
        
confirm_SEX_B_actually_H = False

if confirm_SEX_B_actually_H:
    df_FD.loc[df_FD.SEX == 'B', 'SEX'] = 'H'

### MATURITY: leave or null '44' - CONFIRM
* (only 1 entry)
* could also be typo for 4

In [81]:
confirm_MATURITY_44_null = True

if confirm_MATURITY_44_null:
     df_FD.loc[df_FD.MATURITY == 44, 'MATURITY'] = np.nan
        
confirm_MATURITY_44_actually_4 = False

if confirm_MATURITY_44_null:
     df_FD.loc[df_FD.MATURITY == 44, 'MATURITY'] = 4

### WEIGHT: Nullify outliers - CONFIRM
* (6 entries)
* they all look real except 1934g fish which could be checked manually

In [82]:
max_weight = 500

df_FD.loc[df_FD.WEIGHT > max_weight]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
724,1984,5,1,<NA>,12,NaN,Frozen,30,<NA>,316,325.000,519.000,A,F,2,NaN,NaN,7,6,NaN,NaN,<NA>,<NA>,NaN,NaN,7,6,1984-05-01
735,1984,5,2,<NA>,12,NaN,Frozen,1,<NA>,316,325.000,539.000,A,F,2,NaN,NaN,8,4,NaN,NaN,<NA>,<NA>,NaN,NaN,8,4,1984-05-02
956,1984,5,8,<NA>,12,NaN,Frozen,27,<NA>,310,319.000,501.000,A,F,2,NaN,NaN,8,3,NaN,NaN,<NA>,<NA>,NaN,NaN,8,3,1984-05-08
2042,1985,5,16,<NA>,12,NaN,Frozen,5,<NA>,317,326.000,512.000,A,F,2,83.000,NaN,9,3,NaN,NaN,<NA>,<NA>,NaN,NaN,9,3,1985-05-16
6917,1989,5,13,<NA>,35,PM,Frozen,23,<NA>,305,314.000,503.000,A,F,4,95.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,1989-05-13
35019,2019,6,11,7,41,PM,Frozen,1,<NA>,<NA>,NaN,1934.000,A,M,4,NaN,JM,4,3,NaN,NaN,<NA>,<NA>,NaN,NaN,4,3,2019-06-11

In [83]:
confirm_WEIGHT_null = False 

if confirm_WEIGHT_null:
     df_FD.loc[df_FD.WEIGHT > max_weight, 'WEIGHT'] = np.nan
        
# DEAL WITH 1934g FISH MANUALLY
df_FD.loc[df_FD.WEIGHT > 1900, 'WEIGHT'] = np.nan

### GONAD_WEIGHT: Nullify outliers - CONFIRM
* (7 entries)

In [84]:
max_gonad_weight = 200

df_FD.loc[df_FD.GONAD_WEIGHT > max_gonad_weight]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
6285,1989,5,16,<NA>,38,PM,Frozen,41,<NA>,270,278.000,283.000,A,F,4,417.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,1989-05-16
14131,1995,6,2,5,"41,35",AM,Frozen,7,<NA>,276,284.000,337.000,A,F,4,766.000,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,1995-06-02
23059,2008,5,20,4,26,AM,Frozen,14,<NA>,260,268.000,277.300,A,F,4,414.800,NaN,5,4,NaN,NaN,<NA>,<NA>,NaN,NaN,5,4,2008-05-20
23295,2008,6,4,6,5,AM,Fresh,24,240,<NA>,240.000,176.400,A,F,4,219.600,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2008-06-04
24542,2010,5,5,2,41,PM,Frozen,30,<NA>,262,270.000,233.700,A,F,4,335.500,NaN,4,3,NaN,NaN,<NA>,<NA>,NaN,NaN,4,3,2010-05-05
26462,2011,6,4,5,41,AM,Fresh,32,255,<NA>,255.000,220.300,A,F,4,280.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,2011-06-04
33026,2017,6,14,7,25,AM,Frozen,14,<NA>,246,254.000,183.400,B,F,4,256.000,JM,5,3,NaN,NaN,<NA>,<NA>,NaN,NaN,5,3,2017-06-14

In [85]:
confirm_GONAD_null = True  # all of these have gonads that weight more than the total weight

if confirm_GONAD_null:
     df_FD.loc[df_FD.GONAD_WEIGHT > max_gonad_weight, 'GONAD_WEIGHT'] = np.nan

### Validate weight to length ratio - CONFIRM

##### need to flag these and manually deal with them individually 


[4:25 PM] Fishman, David
would be based on length in cm and weight in g

<img style="float: left;" src=>

In [86]:
def lw_prediction_delta(sex, length_mm, weight_g):
    """
    returns actual weight / predicted weight, based on length and sex
    """
    
    sex, length_mm, weight_g = str(sex), float(length_mm), float(weight_g)
    
    if sex.lower()[0] == 'm':
        A, B = 0.00654, 3.15
    elif sex.lower()[0] == 'f':
        A, B = 0.00909, 3.03
    else:
        A, B = 0.00866, 3.06
        
    # in grams, length converted mm to cm
    predicted_weight_g = A * ((length_mm / 10) ** B)
    
    return weight_g / predicted_weight_g

In [87]:
df_FD['lw_ratio_check'] = 0.0

for i, row in df_FD.iterrows():
    try:
        df_FD.loc[i, 'lw_ratio_check'] = lw_prediction_delta(row['SEX'], row['FL_STD'], row['WEIGHT'])
    except KeyError:
        df_FD.loc[i, 'lw_ratio_check'] = np.nan
        
df_FD['lw_ratio_check'].describe(percentiles=[0.005, 0.995])

count   34919.000
mean        1.251
std         0.150
min         0.133
0.5%        0.942
50%         1.241
99.5%       1.651
max         8.741
Name: lw_ratio_check, dtype: float64

In [88]:
# number of samples with extraordinary dimensions
avg_ratio = df_FD['lw_ratio_check'].describe()['mean']
stdev = df_FD['lw_ratio_check'].describe()['std']

lw_ratio_min, lw_ratio_max = avg_ratio - 3*stdev, avg_ratio + 3*stdev
df_FD[(df_FD['lw_ratio_check'] < lw_ratio_min) | (df_FD['lw_ratio_check'] > lw_ratio_max)].shape

(114, 29)

In [89]:
# these are our outliers
columns = ['CONDITION', 'FL_WET', 'FL_FROZEN', 'FL_STD', 'WEIGHT', 'SPECIES', 'SEX', 'MATURITY', 'GONAD_WEIGHT', 'AGE', 'lw_ratio_check']
df_FD[(df_FD['lw_ratio_check'] < lw_ratio_min) | (df_FD['lw_ratio_check'] > lw_ratio_max)].sort_values('lw_ratio_check')[columns]

,CONDITION,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,AGE,lw_ratio_check
25517,Frozen,<NA>,283,292.000,33.300,A,F,4,61.600,6,0.133
21685,Frozen,<NA>,205,212.000,15.100,B,M,4,NaN,<NA>,0.153
22400,Frozen,<NA>,366,376.000,170.900,A,F,4,23.500,3,0.317
32158,Fresh,358,<NA>,358.000,178.800,A,F,4,20.200,4,0.385
25952,Frozen,<NA>,299,308.000,150.900,A,M,4,NaN,3,0.472
26280,Fresh,299,<NA>,299.000,146.100,A,M,4,NaN,3,0.502
27587,Frozen,<NA>,244,252.000,93.700,B,M,4,NaN,4,0.552
29991,Frozen,<NA>,241,249.000,103.600,B,M,3,NaN,3,0.634
1112,Frozen,<NA>,322,331.000,246.000,A,F,2,NaN,8,0.672
31000,Frozen,<NA>,260,268.000,140.300,A,M,<NA>,NaN,<NA>,0.681
10485,Frozen,<NA>,304,312.000,212.000,A,F,5,34.700,3,0.693
29231,Frozen,<NA>,261,269.000,136.300,A,F,4,33.200,4,0.698
29989,Frozen,<NA>,240,248.000,113.200,A,M,3,NaN,3,0.701
3487,Frozen,<NA>,244,252.000,120.000,A,U,2,33.200,3,0.713
3622,Frozen,<NA>,240,248.000,115.000,A,U,2,NaN,4,0.718
1276,Frozen,<NA>,255,263.000,141.000,A,F,2,NaN,3,0.773
1537,Frozen,<NA>,228,236.000,107.000,A,M,2,NaN,3,0.775
1385,Frozen,<NA>,240,248.000,119.000,A,F,2,NaN,3,0.779
14673,Frozen,<NA>,264,272.000,158.000,A,F,4,39.900,4,0.782
1739,Frozen,<NA>,166,173.000,41.000,B,M,1,NaN,1,0.790
28598,Frozen,<NA>,255,263.000,145.000,A,F,4,15.800,3,0.795
5625,Frozen,<NA>,275,283.000,388.000,B,F,4,63.000,6,1.704
4453,Fresh,255,<NA>,255.000,283.000,A,F,4,54.200,4,1.704
5216,Fresh,275,<NA>,275.000,356.000,A,F,4,60.000,4,1.705
5806,Frozen,<NA>,283,292.000,427.000,A,F,4,64.000,<NA>,1.705
500,Fresh,278,<NA>,278.000,368.000,A,F,2,NaN,5,1.705
4224,Fresh,270,<NA>,270.000,337.000,A,F,4,67.400,5,1.706
4608,Fresh,238,<NA>,238.000,230.000,A,F,4,34.000,3,1.707
3350,Frozen,<NA>,244,252.000,290.000,A,M,2,NaN,3,1.708
5031,Fresh,258,<NA>,258.000,294.000,A,F,4,38.000,4,1.708
4971,Fresh,263,<NA>,263.000,312.000,A,F,4,59.300,4,1.711
7086,Frozen,<NA>,275,283.000,390.000,A,F,4,67.000,5,1.712
5302,Fresh,268,<NA>,268.000,331.000,A,F,4,45.000,4,1.714
4669,Fresh,238,<NA>,238.000,231.000,A,F,4,36.300,3,1.714
4404,Fresh,280,<NA>,280.000,378.000,A,F,4,76.300,4,1.714
4425,Fresh,258,<NA>,258.000,295.000,A,F,4,52.500,4,1.714
4476,Fresh,258,<NA>,258.000,295.000,A,F,4,53.400,4,1.714
4970,Fresh,260,<NA>,260.000,302.000,A,F,4,56.900,5,1.714
9459,Fresh,265,<NA>,265.000,320.000,A,F,4,47.200,3,1.715
4221,Fresh,265,<NA>,265.000,320.000,A,F,4,53.100,4,1.715
4502,Fresh,260,<NA>,260.000,303.000,A,F,4,50.900,4,1.720
4220,Fresh,265,<NA>,265.000,322.000,A,F,4,51.700,4,1.725
6841,Frozen,<NA>,273,281.000,385.000,A,F,4,76.000,6,1.727
4646,Fresh,243,<NA>,243.000,248.000,A,F,4,37.500,3,1.728
4572,Fresh,248,<NA>,248.000,264.000,A,F,4,43.500,4,1.729
5282,Fresh,283,<NA>,283.000,394.000,A,F,4,71.000,4,1.730
4248,Fresh,265,<NA>,265.000,323.000,A,F,4,64.000,5,1.731
4240,Fresh,260,<NA>,260.000,305.000,A,F,4,51.400,4,1.731
277,Fresh,260,<NA>,260.000,305.000,A,F,2,NaN,4,1.731
4625,Fresh,258,<NA>,258.000,298.000,A,F,4,58.600,4,1.732
4451,Fresh,253,<NA>,253.000,281.000,A,F,4,51.500,4,1.733
635,Fresh,281,<NA>,281.000,389.000,A,F,2,NaN,5,1.745
4394,Fresh,250,<NA>,250.000,273.000,A,F,4,46.500,4,1.745
4214,Fresh,255,<NA>,255.000,290.000,A,F,4,47.000,4,1.746
8206,Fresh,278,<NA>,278.000,377.000,A,F,4,62.400,5,1.747
4766,Fresh,243,<NA>,243.000,251.000,A,F,4,40.600,3,1.749
4649,Fresh,248,<NA>,248.000,267.000,A,F,4,42.500,4,1.749
14900,Frozen,<NA>,226,234.000,224.000,A,F,4,41.000,<NA>,1.750
5337,Fresh,263,<NA>,263.000,341.000,A,M,4,NaN,4,1.755
259,Fresh,248,<NA>,248.000,268.000,A,F,2,NaN,3,1.755
30082,Frozen,<NA>,225,233.000,222.100,A,F,4,28.900,4,1.758
202,Fresh,275,<NA>,275.000,367.000,A,F,2,NaN,4,1.758
4959,Fresh,248,<NA>,248.000,270.000,A,F,4,40.100,4,1.769
4725,Fresh,253,<NA>,253.000,287.000,A,F,4,46.700,4,1.770
6699,Frozen,<NA>,245,253.000,287.000,A,F,4,55.000,4,1.770
4799,Fresh,240,<NA>,240.000,245.000,A,F,4,38.100,3,1.772
1071,Frozen,<NA>,268,276.000,375.000,A,F,2,NaN,5,1.776
17748,Fresh,277,<NA>,277.000,380.000,A,F,4,58.800,6,1.780
1008,Frozen,<NA>,285,294.000,456.000,A,F,2,NaN,6,1.784
13603,Frozen,<NA>,248,256.000,300.000,A,F,4,44.700,3,1.785
4666,Fresh,230,<NA>,230.000,217.000,A,F,4,29.400,3,1.786
4225,Fresh,275,<NA>,275.000,374.000,A,F,4,69.700,5,1.791
33479,Frozen,<NA>,225,233.000,226.400,A,F,4,30.300,5,1.792
22570,Frozen,<NA>,223,231.000,220.800,A,F,4,32.800,4,1.793
4749,Fresh,260,<NA>,260.000,316.000,A,F,4,59.000,4,1.794
579,Fresh,236,<NA>,236.000,236.000,A,F,2,NaN,3,1.796
6117,Frozen,<NA>,265,273.000,367.000,A,F,4,67.000,5,1.797
4671,Fresh,243,<NA>,243.000,258.000,A,F,4,37.200,3,1.797
4619,Fresh,245,<NA>,245.000,265.000,A,F,4,50.300,4,1.801
4564,Fresh,238,<NA>,238.000,243.000,A,F,4,26.700,3,1.803
24680,Fresh,276,<NA>,276.000,381.800,A,F,4,43.500,4,1.808
1903,Frozen,<NA>,283,292.000,454.000,A,F,2,65.800,7,1.813
5288,Fresh,280,<NA>,280.000,400.000,A,F,4,52.000,4,1.814
4746,Fresh,233,<NA>,233.000,230.000,A,F,4,35.000,3,1.820
4701,Fresh,258,<NA>,258.000,314.000,A,F,4,50.700,4,1.825
5098,Fresh,265,<NA>,265.000,341.000,A,F,4,63.000,5,1.827
9330,Fresh,251,<NA>,251.000,309.000,A,M,4,NaN,5,1.843
15609,Frozen,<NA>,228,236.000,254.600,A,M,4,NaN,4,1.843
224,Fresh,257,<NA>,257.000,337.000,A,M,2,NaN,3,1.865
31074,Frozen,<NA>,225,233.000,235.900,A,F,3,30.500,5,1.867
8089,Fresh,275,<NA>,275.000,391.000,A,F,4,48.400,4,1.873
1228,Frozen,<NA>,248,256.000,335.000,A,M,2,NaN,3,1.877
1983,Frozen,<NA>,260,268.000,363.000,A,F,2,48.700,4,1.880
4644,Fresh,233,<NA>,233.000,238.000,A,F,4,35.500,3,1.883
4328,Fresh,263,<NA>,263.000,346.000,A,F,4,71.200,4,1.897
3382,Frozen,<NA>,254,262.000,347.000,A,F,2,41.200,3,1.924
4750,Fresh,258,<NA>,258.000,332.000,A,F,4,66.500,4,1.929
23222,Fresh,256,<NA>,256.000,328.700,A,F,4,31.900,4,1.956
19156,Frozen,<NA>,232,240.000,271.800,A,F,4,48.600,<NA>,1.966
13181,Fresh,271,<NA>,271.000,394.000,A,F,4,61.900,5,1.973
14733,Frozen,<NA>,231,239.000,284.000,A,M,4,NaN,3,1.976
2430,Frozen,<NA>,225,233.000,250.000,A,F,3,10.100,2,1.978
4186,Fresh,258,<NA>,258.000,341.000,A,F,4,42.000,4,1.981
30452,Fresh,232,<NA>,232.000,256.200,A,F,4,12.600,<NA>,2.054
30533,Fresh,223,<NA>,223.000,240.700,A,M,4,NaN,<NA>,2.083
4171,Frozen,<NA>,226,234.000,282.000,A,U,2,NaN,3,2.103
14466,Frozen,<NA>,246,254.000,351.000,A,F,4,37.700,<NA>,2.138
18816,Frozen,<NA>,255,263.000,420.100,A,F,4,36.300,4,2.303
23583,Fresh,218,<NA>,218.000,294.100,B,F,4,44.000,<NA>,2.847
9389,Frozen,<NA>,175,182.000,209.000,A,M,4,NaN,3,3.430
9393,Frozen,<NA>,148,155.000,169.000,A,M,4,NaN,3,4.600
30038,Frozen,<NA>,112,118.000,107.500,A,M,3,NaN,2,6.909
30018,Frozen,<NA>,118,124.000,129.100,B,M,3,NaN,4,7.097
14844,Frozen,<NA>,118,124.000,159.000,B,M,4,NaN,3,8.741

### CONFIRM: whether any rows should be nulled/dropped/fixed

In [90]:
# drop the lw_ratio_check before saving
df_FD = df_FD.drop('lw_ratio_check', axis=1)

# LENGTH FREQUENCIES

In [91]:
df_LF = pd.read_csv(r'.\provided data\Margaree Gaspereau lgth-freq_Master.csv')

### Clean Date/Time and create DATETIME column

In [92]:
# convert all times to same format, set missing times to 0000 (date only), then to datetime format
df_LF['CleanTime'] = df_LF['Time']
df_LF.loc[df_LF['CleanTime'] < 10, 'CleanTime'] = df_LF.loc[df_LF['CleanTime'] < 10, 'CleanTime'] * 100
df_LF['CleanTime'] = pd.to_datetime(df_LF.CleanTime, format='%H%M')

# all null times should be 0000 (which pandas reads as no time data)
# NOTE: incorporate AM/PM column?
df_LF.loc[df_LF['CleanTime'].isnull(), 'CleanTime'] = pd.to_datetime(0)  

df_LF['DATETIME'] = pd.to_datetime(dict(
    year=df_LF['yy'], 
    month=df_LF['mm'], 
    day=df_LF['dd'], 
    hour=df_LF['CleanTime'].dt.hour, 
    minute=df_LF['CleanTime'].dt.minute
), errors='coerce')

df_LF = df_LF.drop('CleanTime', axis=1)

### Clean River Column

In [93]:
df_LF.loc[df_LF.river == 'SW Margaree', 'river'] = 'SW MARGAREE'
df_LF.river.unique()

array([nan, 'MARGAREE', 'SW MARGAREE'], dtype=object)

### Expand and Clean Site Column
* Later analysis shows matching with samples on the first noted site is more effective than combining multiple sites. 
* Consider adding extra sites to notes column or adding the ability to select multiple sites when inputting a sample.

In [94]:
df_LF[['SITE1', 'SITE2', 'SITE3']] = df_LF.site.str.replace(' ','').str.split(',', expand=True).fillna(pd.NA)

### Clean Location

In [95]:
# clean the typos
df_LF.loc[df_LF['loc'] == 'LOWER ', 'loc'] = 'LOWER'
df_LF.loc[df_LF['loc'] == 'LOWE', 'loc'] = 'LOWER'
df_LF['loc'].unique()

array(['LOWER', 'UPPER', nan], dtype=object)

### Period: AD left as is - CONFIRM

In [96]:
df_LF.period.unique()

array(['PM', 'AM', 'AD'], dtype=object)

In [97]:
# counts: AM, PM, and AD
# AD data are also included in the FISH DETAILS, assumed not a typo (although rare)
sum(df_LF.period == 'AM'), sum(df_LF.period == 'PM'), sum(df_LF.period == 'AD')

(6143, 5250, 47)

# SAMPLES (logbook)

In [98]:
dtypes = {
    'code': 'object',
    'no_nets': 'object',
    'YEAR': 'Int32',
    'MM': 'Int32',
    'DD': 'Int32',
    'Week': 'Int32',
#     'hours_fished': 'Int32'  # some entries say 'maximum '
}
df_SD = pd.read_csv(r'.\provided data\Margaree Gaspereau logbooks_Master.csv', dtype=dtypes)

### NAME column
Create Samplers Table / Clean Sampler Names - CONFIRM

In [124]:
# SHOULD ANY OF THESE BE SUBSTITUTED / SPELLING CORRECTED?

sorted([str(x) for x in df_SD.NAME.unique()])

['Alexander Gillis',
 'Alexander MacDonald',
 'Allan B Gillis',
 'Anthony Cameron',
 'Brian Doyle',
 'Brian MacFarlane',
 'Bruce MacLellan',
 'Bruce McLellan',
 'Catherine MacFarlane',
 'Catherine MacLeod',
 'Charles McDaniel',
 'Chris MacLean',
 'Colin Gillis',
 'Daniel Stewart',
 'Darlene Cameron',
 'David MacKinnon',
 'Donald D Gillis',
 'Donald J Gillis',
 'Donald M Campbell',
 'Donald MacEachern',
 'Donald MacLeod',
 'Donald Macleod',
 'Donelda M Gillis',
 'Eleanor MacLellan',
 'Eleanor McDaniel',
 'Elizabeth MacKinnon',
 'Elizabeth/Vincent MacKinnon',
 'Finley MacDonald',
 'Finley Stewart',
 'Florence Gillis',
 'Fred Ingram',
 'Gerard MacFarlane',
 'Gerard V Chiasson',
 'Harold MacFarlane',
 'Hugh J Gillis',
 'Hughie MacDonnell',
 'Irene MacIsaac',
 'Jack MacLellan',
 'James A Hirtle',
 'James MacFarlane',
 'Jim Coady',
 'Jim MacFarlane',
 'Joan Ingram',
 'John A Chisholm',
 'John A Coady',
 'John Coady',
 'John H Gillis',
 'John MacLellan',
 'John Neil Gillis',
 'John R Gillis',
 'John V MacKinnon',
 'Joseph M MacFarlane',
 'Joseph Mackinnon',
 'Josephine MacDonald',
 'Josh Fraser',
 'Joshua Fraser',
 'Kevin MacKinnon',
 'Kevin MacKinnon ',
 'Leo Chiasson',
 'Marilyn Gillis',
 'Martin E Cameron',
 'Mary C Gillis',
 'Mary E Gillis',
 'Michael D Gillis',
 'Michael J Stewart',
 'Neil McDaniel',
 'Norman MacNeil',
 'Pat Chisholm',
 'Pierre Chiasson',
 'Richard Gillis',
 'Robert Gillis',
 'Robert MacLeod',
 'Robert Peters',
 'Ronald J Stewart',
 'Stewart Gillis',
 'Vincent MacKinnon']

In [131]:
# Clean NAME column

sampler_replacements = {
#     'Bruce MacLellan': 'Bruce McLellan',                     # CONFIRM
#     'Elizabeth/Vincent MacKinnon': 'Elizabeth MacKinnon',    # CONFIRM
    'Kevin MacKinnon ': 'Kevin MacKinnon',
    'Donald Macleod': 'Donald MacLeod'
}

# clean the name column
df_SD = df_SD.replace({'NAME': sampler_replacements})

In [132]:
# create samplers table

gaspereau_samplers = list()

for i in sorted(str(x) for x in df_SD.NAME.unique()):
    name = i.rsplit(maxsplit=1)  # put initials into first name
    gaspereau_samplers.append(name)
    
gaspereau_samplers = pd.DataFrame(gaspereau_samplers, columns=['first_name', 'last_name'])
gaspereau_samplers['notes'] = pd.NA  # all null comments

### Sites

In [ ]:
# create columns for multiple sites
df_SD[['SITE1', 'SITE2']] = df_SD.SITE_NO.str.split(',', expand=True).fillna(pd.NA)

### DATETIME
* confirm leave null when missing days/months

In [ ]:
df_SD['DATETIME'] = pd.to_datetime(
    df_SD['YEAR'].astype(str) + '-' + df_SD['MM'].astype(str) + '-' + df_SD['DD'].astype(str), 
    errors='coerce'  # coerce missing days and months into errors
)
# any entries with missing month or day can't get an exact datetime
sum(df_SD.DATETIME.isnull())

### replace 'maximum' with a number of hours in hours_fished - CONFIRM

In [ ]:
# hours fished
sorted([str(i) for i in df_SD.hours_fished.unique()])

In [ ]:
numeric_hours_fished = False
max_hours = 24  # maybe 18 based on data?

if numeric_hours_fished:
    df_SD.loc[df_SD.hours_fished == 'maximum', 'hours_fished'] = max_hours
    df_SD['hours_fished'] = pd.to_numeric(df_SD['hours_fished'], errors='coerce').astype('Int32')

### clean zone

In [ ]:
df_SD.loc[df_SD.zone == 'upper ', 'zone'] = 'upper'
df_SD.zone.unique()

### clean bycatch? pregenerate comments before import?
* could also pregenerate notes/comments/remarks
    * add 'sbass' after int, concat if exists, etc
    * add extra sites to remarks?

In [ ]:
df_SD.bycatch_sbass.unique()

In [ ]:
df_SD.bycatch_shad.unique()

In [ ]:
df_SD.bycatch_other.unique()

In [ ]:
df_SD.comments.unique()

# ======================
# FORMATING FOR IMPORT
# ======================

* ALLCAPS: denotes columns that aren't perfect matches
* lowercase: denotes columns that should match perfectly with herring tables in dm_apps

# LENGTH FREQUENCIES
### Generate Unique IDs to Import / match with Samples

In [3]:
# replace non-numeric data with made up site numbers
# NOTE: These are converted back in import script
id_replacements = {
    '1A': 90,
    '1B': 91,
    'EricMcFarlane': 92,
    'JimmyMacFarlane': 93,
    'JohnAlbertCoady': 94
}
df_LF = df_LF.replace({'SITE1': id_replacements})

In [4]:
# 'unique' id column (note ambiguities, and solve later)
df_LF['id'] = (
    df_LF.DATETIME.dt.year*1_000_000 
    + df_LF.DATETIME.dt.month*10_000 
    + df_LF.DATETIME.dt.day*100 
    + df_LF.SITE1.fillna(0).astype(int)
).astype('Int64')

# new sample indicator
df_LF['new_sample'] = df_LF.lgth.diff() < 0

# new id indicator
df_LF['new_id'] = df_LF.id.diff() != 0

In [5]:
# update ids for ambiguous entries
duplicated_ids_LF = list(df_LF[~df_LF.new_id & df_LF.new_sample].id)

In [6]:
if df_LF.id.max() < 2_100_000_000: # only run this once

    # add 1B to duplicate ids
    df_LF.loc[df_LF.id.isin(duplicated_ids_LF), 'id'] = df_LF.loc[df_LF.id.isin(duplicated_ids_LF), 'id'] + 1_000_000_000

    # add an extra billion to every other id, so that all are now distinct
    previous_lgth = 0
    multiplier = False

    for i, row in df_LF[df_LF.id > 2_900_000_000].iterrows():

        current_lgth = row['lgth']
        if previous_lgth > current_lgth:
            multiplier = not multiplier

        df_LF.loc[i, 'id'] = row.id + 1_000_000_000*multiplier

        previous_lgth = current_lgth

### Length Bins

In [9]:
# use the same bins as used in the herring database (cm, grouped by 0.5s)
df_LF['length_bin_id'] = (df_LF.lgth - df_LF.lgth % 5) / 10

### LENGTH FREQUENCY 
### FINAL TABLE FOR IMPORT INTO DM_APPS

In [11]:
gaspereau_lengthfrequency = df_LF.groupby(['id', 'length_bin_id']).sum('freq').reset_index()[['freq', 'length_bin_id', 'id']].rename({
    'freq': 'count', 
    'length_bin_id': 'length_bin_id', 
    'id': 'sample_id'
}, axis=1)

# FISH DETAILS

In [25]:
# replace non-numeric data with made up site numbers
id_replacements_v2 = {
    '1A': 90,
    '1B': 91,
    'Eric MacFarlane': 92,
    'E.MACFARLANE': 92,
    'J McFarlane': 93,
    'JA Coady': 94,
    '11K3 (435,211)': 95, 
    '47 or 62': 47
}

# same site replacements from LF
df_FD['SITE1'] = df_FD.replace({'SITE': id_replacements_v2}).SITE
df_FD[['SITE1', 'SITE2', 'SITE3']] = df_FD.SITE1.str.replace(' ','').str.split(',', expand=True).fillna(pd.NA)

df_FD['sample_id'] = (
    df_FD.YEAR.astype(int)*1_000_000 
    + df_FD.MM.fillna(0).astype(int)*10_000
    + df_FD.DD.fillna(0).astype(int)*100
    + df_FD.SITE1.fillna(0).astype(int)
).astype('Int64')

### FISH DETAILS
### FINAL TABLE FOR IMPORT INTO DM_APPS

In [32]:
"""uses all detail-related data available - doesn't match well with herring_fishdetail table"""

# ALL CAPS used for unmatched fields
rename_FD = {
    'SITE1': 'SITE', 'FISH_NO': 'fish_number', 'FL_STD': 'fish_length', 
    'WEIGHT': 'fish_weight', 'MATURITY': 'maturity_id',
    'GONAD_WEIGHT': 'gonad_weight', '1st Person Aging': 'AGING_PERSON_1', 'AGE': 'AGE_1', 'FSP': 'FSP_1', 
    'Comments': 'AGE_COMMENTS_1', '2nd Person Aging': 'AGING_PERSON_2', 'AGE.1': 'AGE_2', 'FSP.1': 'FSP_2', 
    'Comments.1': 'AGE_COMMENTS_2', 'Envelop Comments': 'ENVELOP_COMMENTS', 'AGE_notes': 'AGE_NOTES', 'FSP_notes': 'FSP_NOTES'
}

gaspereau_fishdetails = df_FD[[
    'sample_id','DATETIME', 'SITE1',
    'CONDITION', 'FISH_NO', 'FL_WET', 'FL_FROZEN', 'FL_STD', 'WEIGHT', 'SPECIES', 'SEX', 'MATURITY', 
    'GONAD_WEIGHT', '1st Person Aging', 'AGE', 'FSP', 'Comments', '2nd Person Aging', 'AGE.1', 'FSP.1', 'Comments.1', 
    'Envelop Comments', 'AGE_notes', 'FSP_notes'
]].rename(columns=rename_FD)

# SAMPLES

In [15]:
# same site replacements from LF
df_SD = df_SD.replace({'SITE1': id_replacements})

# 'unique' id column
df_SD['id'] = (
    df_SD.YEAR.astype(int)*1_000_000 
    + df_SD.MM.fillna(0).astype(int)*10_000
    + df_SD.DD.fillna(0).astype(int)*100
    + df_SD.SITE1.fillna(0).astype(int)
).astype('Int64')

# duplicated ids
duplicated_ids_SD = set(df_SD[df_SD.duplicated('id', keep=False)].id)

In [16]:
# some of these ids end up with an extra digit
if df_SD.id.max() < 2_100_000_000:
    
    # initialise number of handled repeats as zero for each id
    n_repeats = dict(zip(duplicated_ids_SD, [0 for x in duplicated_ids_SD]))
    
    for i, row in df_SD[df_SD.id.isin(duplicated_ids_SD)].iterrows():
        df_SD.loc[i, 'id'] = row['id'] + 1_000_000_000 * int(n_repeats[row['id']] + 1)
        n_repeats[row['id']] += 1

### CONFIRM:  add null sample data where there is unmatched length frequencies and fish details
* if these null data are added, all fish detail and length frequencies should get into dm_apps
* if null data are not added, unmatched fish detail and length frequencies will be added to rejected files (csv generated on import)

In [20]:
# how many length frequency measurements are matched with samples?
# apprx 80%
(
    df_LF[df_LF.id.isin(set(df_SD.id))].id.nunique(), 
    df_LF.id.nunique(), 
    df_LF[df_LF.id.isin(set(df_SD.id))].id.nunique() / df_LF.id.nunique()
)

(731, 917, 0.797164667393675)

In [26]:
# how many fish detail sample ids are matched with samples id column?
# apprx 95%
(
    df_FD[df_FD.sample_id.isin(set(df_SD.id))].sample_id.nunique(), 
    df_FD.sample_id.nunique(), 
    df_FD[df_FD.sample_id.isin(set(df_SD.id))].sample_id.nunique() / df_FD.sample_id.nunique()
)

(1052, 1106, 0.9511754068716094)

In [21]:
# CONFIRM
add_null_data_where_unmatched = False

if add_null_data_where_unmatched:
    # add null samples where no match exists
    df_SD = pd.concat([df_SD, pd.DataFrame(df_LF[~df_LF.id.isin(set(df_SD.id))].id.unique(), columns=['id'])]).reset_index(drop=True)

    # NOTE: if a datetime column is useful in this null data, pd.to_datetime(id // 100) should work
    # alt could use a more complicated JOIN to add SITE1 as well
    # leave this way for now

    df_SD = pd.concat([df_SD, pd.DataFrame(df_FD[~df_FD.sample_id.isin(set(df_SD.id))].sample_id.unique(), columns=['id'])]).reset_index(drop=True)
    # again, a few more details could be added, but leave for now because the sample data is incomplete either way

### SAMPLE DATA
### FINAL TABLE FOR IMPORT INTO DM_APPS

In [30]:
"""uses all sample-related data available - doesn't match well with herring_sample table"""

# ALL CAPS FOR UNMATCHED / NEW
rename_SD = {
    'DATETIME': 'sample_date', 'DIST': 'district_id', 'RIVER': 'fishing_area_id', 
    'NAME': 'SAMPLER', 'code': 'CODE', 'GEAR': 'gear_id', 'SITE1': 'SITE',
    'no_nets': 'NO_NETS', 'catch_lbs': 'catch_weight_lbs', 'hours_fished': 'HOURS_FISHED', 
    'zone': 'ZONE', 'last_name': 'LAST_NAME', 'comments': 'COMMENTS',
    'bycatch_sbass': 'BYCATCH_SBASS', 'bycatch_shad': 'BYCATCH_SHAD', 'bycatch_other': 'BYCATCH_OTHER', 
    'wt_lbs': 'sample_weight_lbs'
}

gaspereau_sample = pd.merge(
    df_SD[[
        'id', 'DATETIME', 'DIST', 'RIVER', 'NAME', 'code', 'GEAR', 'SITE1', 'no_nets', 'catch_lbs', 'hours_fished', 
        'zone', 'last_name', 'comments', 'bycatch_sbass', 'bycatch_shad', 'bycatch_other'
    ]], 
    df_LF[['id', 'wt_lbs']],
    on='id', 
    how='left'  # all samples 
).drop_duplicates().reset_index(drop=True).rename(columns=rename_SD)

# SAVE TABLES

In [34]:
# save pickle files
if True:  # change this to overwrite/resave
    gaspereau_lengthfrequency.to_pickle('gaspereau_lengthfrequency.pickle')
    gaspereau_fishdetails.to_pickle('gaspereau_fishdetails.pickle')
    gaspereau_sample.to_pickle('gaspereau_sample.pickle')
    gaspereau_samplers.to_pickle('gaspereau_samplers.pickle')
    
# save csv for import into django
if True:  # change this to overwrite/resave
    gaspereau_lengthfrequency.to_csv('gaspereau_lengthfrequency.csv')
    gaspereau_fishdetails.to_csv('gaspereau_fishdetails.csv')
    gaspereau_sample.to_csv('gaspereau_sample.csv')
    gaspereau_samplers.to_csv('gaspereau_samplers.csv')