In [1]:
import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
df_SD = pd.read_pickle('df_SD_cleaned.pickle')

In [2]:
df = df_SD.dropna(subset='hours_fished')[
    df_SD.dropna(subset='hours_fished').hours_fished.astype(str).str.contains('.', regex=False)
][['id', 'hours_fished']].rename({'id':'old_id'}, axis=1)
df.sample(10)

           old_id hours_fished
13600  2014062147         14.5
10239  2007051626         14.5
8988   2003061925          7.5
5219   1993052125          7.5
10613  2008050702          1.5
9318   2004061651          5.5
9665   2005061502         13.5
11514  2010051447          5.5
10215  2007051226         14.5
6110   1995060128          7.5

In [3]:
# upload to temp folder for import into Kevin's local dm_apps
import_file_location = 'C:\\Users\\CARRK\\Documents\\Repositories\\dm_app_root\\dm_apps\\herring\\temp\\'
df.to_csv(import_file_location + 'update_hours_fished.csv', index=False)