In [1]:
import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
df_SD = pd.read_pickle('df_SD_cleaned.pickle')

In [2]:
df = df_SD.dropna(subset='hours_fished')[
    df_SD.dropna(subset='hours_fished').hours_fished.astype(str).str.contains('.', regex=False)
][['id', 'hours_fished']].rename({'id':'old_id'}, axis=1)
df.sample(10)

           old_id hours_fished
11675  2010052905         12.5
15028  2019060726          7.5
15038  2019060826         15.5
6178   1995060928          7.5
8538   2002060102         14.5
7801   2000053141         14.5
13576  2014061947         14.5
10012  2006053102         13.5
7867   2000060825          1.5
7444   1999060426          7.5

In [3]:
# upload to temp folder for import into Kevin's local dm_apps
import_file_location = 'C:\\Users\\CARRK\\Documents\\Repositories\\dm_app_root\\dm_apps\\herring\\temp\\'
if False:
    df.to_csv(import_file_location + 'update_hours_fished.csv', index=False)

In [6]:
# create a file for testing
# export local pk old_id matching table from SQL
df_testing = pd.merge(
    df,
    pd.read_csv('SQL_pk_old_id.csv'),
    on='old_id'
)

In [7]:
# they all look good
df_testing.sample(5)

         old_id hours_fished     id
116  1999051505          7.5  37574
395  2007050447          2.5  40510
578  2014062147         14.5  43949
615  2019052426          7.5  45278
173  2000051826          5.5  38018